Repository CellixJs/cellixjs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CellixJs/tech-sme, @CellixJs/tech-admin, @CellixJs/tech-qa

feat(ui-components): integrate Storybook and Vitest for component testing
  .gitignore
  build-pipeline/core/function-app-build-stage.yml
  demo/ui-components-demo.html
  package-lock.json
  packages/api-domain/coverage/lcov.info
  packages/api-graphql/src/schema/core/graphql-tools-scalars.ts
  packages/cellix-data-sources-mongoose/coverage/lcov.info
  packages/cellix-domain-seedwork/coverage/lcov.info
  packages/service-mongoose/coverage/lcov.info
  packages/service-otel/coverage/lcov.info
  packages/ui-community/src/generated.tsx
  packages/ui-components/.storybook/main.ts
  packages/ui-components/.storybook/preview.tsx
  packages/ui-components/.storybook/vitest.setup.ts
  packages/ui-components/package.json
  packages/ui-components/src/components/molecules/logged-in-user/index.test.tsx
  packages/ui-components/src/components/molecules/logged-in-user/logged-in-user.stories.tsx
  packages/ui-components/src/components/molecules/logged-in-user/logged-in.stories.tsx
  packages/ui-components/src/components/molecules/logged-in-user/logged-in.test.tsx
  packages/ui-components/src/components/molecules/logged-in-user/not-logged-in.stories.tsx
  packages/ui-components/src/components/molecules/logged-in-user/not-logged-in.test.tsx
  packages/ui-components/src/components/organisms/header/index.module.css
  packages/ui-components/src/components/organisms/header/logged-in-user-community.container.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user-community.stories.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user-root.stories.tsx
  packages/ui-components/tests/setup.ts
  packages/ui-components/tsconfig.json
  packages/ui-components/vitest.config.ts
  packages/ui-components/vitest.shims.d.ts
Owners: @CellixJs/tech-sme, @CellixJs/tech-admin

fix: test build pipeline with fresh npm install
  packages/api/build-pipelines/azure-pipelines.yml
Owners: none

feat: add Playwright caching and installation steps to build pipeline
  build-pipeline/core/function-app-build-stage.yml
  packages/api/build-pipelines/azure-pipelines.yml
Owners: none

fix: update Playwright cache key and handle errors during browser installation
  build-pipeline/core/function-app-build-stage.yml
Owners: none

chore: update package-lock.json
  package-lock.json
Owners: none

fix: update SonarCloud coverage exclusions for better accuracy
  build-pipeline/core/function-app-build-stage.yml
Owners: none

updated linuxFXVersion
  packages/api/iac/dev.bicepparam
Owners: none

Refactor Vitest configurations and improve coverage settings
  build-pipeline/core/function-app-build-stage.yml
  package-lock.json
  packages/api-domain/vitest.config.ts
  packages/cellix-data-sources-mongoose/vitest.config.ts
  packages/cellix-event-bus-seedwork-node/coverage/lcov.info
  packages/cellix-event-bus-seedwork-node/vitest.config.ts
  packages/cellix-ui-core/src/components/molecules/component-query-loader/index.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user-community.container.tsx
  packages/ui-components/vitest.config.ts
  vitest.base.config.ts
Owners: @CellixJs/tech-sme

feat: add storybook-apollo-client-addon and new stories for container components; update package-lock.json
  package-lock.json
  packages/ui-components/.storybook/main.ts
  packages/ui-components/.storybook/preview.tsx
  packages/ui-components/package.json
  packages/ui-components/src/components/organisms/header/logged-in-user-community.container.stories.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user-community.stories.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user-root.container.stories.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user-root.container.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user-root.stories.tsx
Owners: none

feat: enhance Storybook setup with AuthProvider and MockedProvider; add stories for HandleLogout and LoggedInUserContainer
  packages/ui-components/.storybook/preview.tsx
  packages/ui-components/src/components/organisms/header/handle-logout.stories.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user.container.stories.tsx
  packages/ui-components/vitest.config.ts
Owners: none

feat: add fsevents module to package-lock.json for improved compatibility on macOS
  package-lock.json
Owners: none

feat: update Playwright browser installation and caching logic in build pipeline
  build-pipeline/core/function-app-build-stage.yml
Owners: none

fix: correct indentation for PLAYWRIGHT_BROWSERS_PATH environment variable in test tasks
  build-pipeline/core/function-app-build-stage.yml
Owners: none

fix: resolve sonarcloud issues
  packages/cellix-ui-core/src/components/molecules/component-query-loader/index.tsx
  packages/cellix-ui-core/src/index.test.ts
  packages/ui-components/src/components/molecules/logged-in-user/index.tsx
Owners: @CellixJs/tech-sme

feat: add Storybook setup to @cellix/ui-core with stories for ComponentQueryLoader and RequireAuth components
  package-lock.json
  packages/cellix-ui-core/.storybook/main.ts
  packages/cellix-ui-core/.storybook/preview.tsx
  packages/cellix-ui-core/.storybook/vitest.setup.ts
  packages/cellix-ui-core/package.json
  packages/cellix-ui-core/src/components/molecules/component-query-loader/component-query-loader.stories.tsx
  packages/cellix-ui-core/src/components/molecules/component-query-loader/index.tsx
  packages/cellix-ui-core/src/components/molecules/require-auth/require-auth.stories.tsx
  packages/cellix-ui-core/vitest.config.ts
Owners: @CellixJs/tech-sme

feat: refactor Vitest configuration to use backend config and introduce frontend config for storybook testing
  packages/api-domain/vitest.config.ts
  packages/api-persistence/vitest.config.ts
  packages/cellix-data-sources-mongoose/vitest.config.ts
  packages/cellix-domain-seedwork/vitest.config.ts
  packages/cellix-event-bus-seedwork-node/vitest.config.ts
  packages/cellix-ui-core/vitest.config.ts
  packages/service-mongoose/vitest.config.ts
  packages/service-otel/vitest.config.ts
  packages/ui-components/vitest.config.ts
  vitest.backend.config.ts
  vitest.base.config.ts
  vitest.frontend.config.ts
Owners: @CellixJs/tech-sme

fix: remove unnecessary quotes from Storybook configuration properties
  packages/ui-components/.storybook/main.ts
Owners: none

chore: update package-lock.json
  package-lock.json
Owners: none

feat: add README documentation for @cellix/ui-core and @ocom/ui-components, including components structure and usage examples
  packages/cellix-ui-core/README.md
  packages/cellix-ui-core/src/components/molecules/README.md
  packages/cellix-ui-core/src/components/organisms/README.md
  packages/ui-components/README.md
  packages/ui-components/src/components/molecules/README.md
  packages/ui-components/src/components/organisms/README.md
Owners: @CellixJs/tech-sme

refactor: update mongoose imports to include SchemaDefinition for better type safety anf fix build
  packages/api-data-sources-mongoose-models/src/models/member/member.model.ts
  packages/api-data-sources-mongoose-models/src/models/role/end-user-role.model.ts
  packages/api-data-sources-mongoose-models/src/models/role/staff-role.model.ts
  packages/api-data-sources-mongoose-models/src/models/role/vendor-user-role.model.ts
  packages/api-data-sources-mongoose-models/src/models/user/end-user.model.ts
  packages/api-data-sources-mongoose-models/src/models/user/staff-user.model.ts
Owners: none

feat: enhance LoggedInUser and LoggedInUserRoot story components with default values and improved null handling
  packages/cellix-ui-core/src/components/molecules/require-auth/require-auth.stories.tsx
  packages/ui-components/src/components/molecules/logged-in-user/index.tsx
  packages/ui-components/src/components/molecules/logged-in-user/logged-in-user.stories.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user-community.stories.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user-root.stories.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user-root.tsx
Owners: @CellixJs/tech-sme

refactor: resolve sonarcloud issues
  packages/cellix-ui-core/src/components/molecules/component-query-loader/component-query-loader.stories.tsx
  packages/cellix-ui-core/src/components/molecules/require-auth/require-auth.stories.tsx
  packages/ui-components/src/components/molecules/logged-in-user/logged-in-user.stories.tsx
  packages/ui-components/src/components/molecules/logged-in-user/logged-in.stories.tsx
  packages/ui-components/src/components/molecules/logged-in-user/not-logged-in.stories.tsx
  packages/ui-components/src/components/organisms/header/handle-logout.stories.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user-community.stories.tsx
  packages/ui-components/src/components/organisms/header/logged-in-user-root.stories.tsx
Owners: @CellixJs/tech-sme

fix: update coverage exclusion patterns in Vitest configuration
  packages/ui-components/vitest.config.ts
  vitest.frontend.config.ts
Owners: none

refactor: update TypeScript configuration to extend from tsconfig.backend and specify types once for all backend packages
  packages/api-application-services/tsconfig.json
  packages/api-context-spec/tsconfig.json
  packages/api-data-sources-mongoose-models/tsconfig.json
  packages/api-domain/tsconfig.json
  packages/api-event-handler/tsconfig.json
  packages/api-graphql/tsconfig.json
  packages/api-persistence/tsconfig.json
  packages/api-rest/tsconfig.json
  packages/api/tsconfig.json
  packages/cellix-api-services-spec/tsconfig.json
  packages/cellix-data-sources-mongoose/tsconfig.json
  packages/cellix-domain-seedwork/tsconfig.json
  packages/cellix-event-bus-seedwork-node/tsconfig.json
  packages/cellix-ui-core/src/components/molecules/require-auth/require-auth.stories.tsx
  packages/service-blob-storage/tsconfig.json
  packages/service-mongodb-memory-server/tsconfig.json
  packages/service-mongoose/tsconfig.json
  packages/service-oauth2-mock-server/tsconfig.json
  packages/service-otel/tsconfig.json
  packages/service-token-validation/tsconfig.json
  tsconfig.backend.json
Owners: @CellixJs/tech-admin, @CellixJs/tech-sme

Update docusaurus/azure-pipelines.yml
  docusaurus/azure-pipelines.yml
Owners: none

Update docusaurus/README.md
  docusaurus/README.md
Owners: none

feat: add testing setup and initial test cases for Docusaurus components
  docusaurus/package.json
  docusaurus/sidebars.test.ts
  docusaurus/src/components/HomepageFeatures/HomepageFeatures.test.tsx
  docusaurus/src/pages/index.test.tsx
  docusaurus/src/test/mocks/Heading.tsx
  docusaurus/src/test/mocks/Layout.tsx
  docusaurus/src/test/mocks/Link.tsx
  docusaurus/src/test/mocks/useDocusaurusContext.ts
  docusaurus/src/test/setup.ts
  docusaurus/vitest.config.ts
Owners: none

fix: update GitHub credential group in Azure Pipelines configuration
  docusaurus/azure-pipelines.yml
Owners: none

feat: split Docusaurus Azure Pipeline into separate build and deploy stages to prevent unwanted deployments from PRs
  docusaurus/azure-pipelines.yml
  docusaurus/docs/decisions/0018-docusaurus-azure-pipeline-stages.md
Owners: none

fix: update editUrl in Docusaurus config to point to the correct repository path
  docusaurus/docusaurus.config.ts
Owners: none

fix: update Azure Pipelines configuration to use correct paths for Docusaurus documentation
  packages/docs/azure-pipelines.yml
Owners: none

fix: update coverage exclusions in SonarCloud configuration for improved test reporting
  build-pipeline/core/function-app-build-stage.yml
  packages/docs/vitest.config.ts
Owners: none

fix: update SonarCloud coverage exclusions to improve test reporting accuracy
  build-pipeline/core/function-app-build-stage.yml
Owners: none

fix: update editUrl in Docusaurus config and add unique IDs to feature items
  packages/docs/docusaurus.config.ts
  packages/docs/src/components/HomepageFeatures/index.tsx
Owners: none

fix: update Azure Pipelines configuration to exclude specific directories from triggers
  azure-pipelines.yml
Owners: none

Update packages/docs/src/components/HomepageFeatures/index.tsx
  packages/docs/src/components/HomepageFeatures/index.tsx
Owners: none

fix: add Sourcery extension to VSCode recommendations
  .vscode/extensions.json
Owners: none

fix: correct heading formatting for Domain-Driven Design section
  packages/docs/docs/technical-overview/translate-your-site.md
Owners: none

Update packages/docs/vitest.config.ts
  packages/docs/vitest.config.ts
Owners: none

fix: update Azure Pipelines configuration to ensure full history is fetched for SonarCloud analysis
  packages/docs/azure-pipelines.yml
Owners: none

.github/CODEOWNERS:

# CODEOWNERS for CellixJS framework

# Assigns code ownership of all CellixJS framework files to the core team
/packages/cellix-*                          @CellixJs/tech-sme
/packages/service-*                         @CellixJs/tech-sme

# Assigns code ownership of configuration files to the admin team
/tsconfig.json                            @CellixJs/tech-admin
/tsconfig.base.json                       @CellixJs/tech-admin
/packages/**/tsconfig.json                @CellixJs/tech-admin
/biome.json                               @CellixJs/tech-admin
/packages/**/biome.json                   @CellixJs/tech-admin
# TODO - replace test suite config files here after CageMatch 2 conclusion
/jest.config.ts                           @CellixJs/tech-admin
/jest.base.config.js                      @CellixJs/tech-admin
/packages/**/jest.config.ts               @CellixJs/tech-admin

# TODO - update specific build-pipeline files after CI/CD is implemented
*.yaml                                    @CellixJs/tech-admin

# Assigns code ownership of all application-specific .feature files to the QA team
/packages/api/**/*.feature                @CellixJs/tech-qa
/packages/api-domain/**/*.feature         @CellixJs/tech-qa
/packages/api-graphql/**/*.feature        @CellixJs/tech-qa
/packages/api-persistence/**/*.feature    @CellixJs/tech-qa

# Allows application-specific (@ocom) package changes without requiring core team approval
